In [1]:
# !pip install selenium
# !pip install django
# !pip install django-embed-video

In [2]:
import csv
import uuid
from selenium import webdriver
import time

from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
import pandas as pd

import requests
import urllib
import os

import numpy as np

In [3]:
# ----------------- Crawl data -----------------
titles  = []
years   = []
genres  = []
plots   = []
posters = []
ratings = []
trailors= []

data=[]
link_films = []
# ---------------------------------------------------

In [ ]:
s=Service('C:/Users/Van Thong/Downloads/chromedriver.exe')
driver = webdriver.Chrome(service=s) 
for i in range(1, 501):
    driver.get('https://flixgo.up.railway.app/movies-catalog/')
    your_input = driver.find_element(By.XPATH,'//div//ul/form[@method="post"]//input[@id="page"]')
    your_input.clear()
    your_input.send_keys(str(i))
    your_input.send_keys(Keys.ENTER)
    link_film=driver.find_elements(By.XPATH,"//div//a[@class='card__play']")
    for link in link_film:
        link = link.get_attribute("href")
        link_films.append({"link":link})
driver.quit()
print(link_films)

In [ ]:
for i in link_films:
    driver = webdriver.Chrome(service=s)
    driver.get(i["link"])
    
    driver.execute_script("document.querySelectorAll('body > section.section.details > div:nth-child(3) > div.row > div:nth-child(2) > div > div > div.col-12.col-sm-8.col-md-8.col-lg-9.col-xl-7 > div > ul > li:nth-child(1) > span').forEach(el => el.remove());");

    driver.execute_script("document.querySelectorAll('body > section.section.details > div:nth-child(3) > div.row > div:nth-child(2) > div > div > div.col-12.col-sm-8.col-md-8.col-lg-9.col-xl-7 > div > ul > li:nth-child(2) > span').forEach(el => el.remove());");

    # Lấy tên phim
    title = driver.find_element(By.XPATH,"//h1[@class='details__title']").text
   
    # ------------------Lấy năm phát hành------------------
    try:
        year = driver.find_element(By.XPATH,"/html/body/section[1]/div[3]/div[1]/div[2]/div/div/div[2]/div/ul/li[2]").text
        # Chỉ lấy mỗi năm
        year = year.split("-")[0]
    except:
        year = ''
    years.append({'year': year})
    # ------------------------------------------------------

    # ---------------------Lấy thể loại phim---------------------
    genre = driver.find_elements(By.XPATH,"/html/body/section[1]/div[3]/div[1]/div[2]/div/div/div[2]/div/ul/li/a")
    temp_genres={'genre':[]}

    for i in genre:
        temp_genres['genre'].append(i.text)
    genres_str = ', '.join(temp_genres['genre'])
    new_dict = {'genre': genres_str}
    genres.append(new_dict)
    # --------------------------------------------------------------

    # Lấy Overview
    try:
        plot = driver.find_element(By.XPATH,"//div[@class='card__description card__description--details']").text
    except:
        plot = ''
    # Lấy đánh giá
    try:
        rating = driver.find_element(By.XPATH,"//span[@class='card__rate']").text
    except:
        rating = ''
    # Lấy link poster 
    driver.execute_script("window.scrollTo(0, 990000)")
    poster = driver.find_element(By.XPATH,"//div[@class='card__cover']//img").get_attribute("src")
    
    # Lấy link trailer link youtobe
    # Nếu trailer không có thì sẽ trả về rổng
    try:
        trailor = driver.find_element(By.XPATH,"//div[@class='col-12 col-xl-6']//iframe").get_attribute("src")
    except:
        trailor = None

    # thêm vào list các dict tương ứng
    titles.append({'title': title})
    ratings.append({'rating': rating})
    posters.append({'poster': poster})
    plots.append({'plot': plot})
    trailors.append({'trailor': trailor})

    driver.close()

In [ ]:
# Lưu dữ liệu trên vào file csv
with open('data.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerow(['title', 'year', 'genre', 'plot', 'poster', 'rating', 'trailor'])
    for i in range(len(titles)):
        writer.writerow([titles[i]['title'], years[i]['year'], genres[i]['genre'], plots[i]['plot'], posters[i]['poster'], ratings[i]['rating'], trailors[i]['trailor']])

In [3]:
# Đọc file csv
df = pd.read_csv('film_DONE2.csv', encoding='utf-8')
df.head()

,title,year,genre,plot,language,poster,rating,trailer,runtime,budget,revenue
0,The Super Mario Bros. Movie,05/04/2023,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...",English,https://image.tmdb.org/t/p/w500/qNBAXBIQlnOThr...,7,https://www.youtube.com/watch?v=LTFGH0rJ-EY,103,"100,000,000.00","724,289,031.00"
1,Shazam! Fury of the Gods,15/03/2023,"Action, Comedy, Fantasy","Billy Batson and his foster siblings, who tran...",English,https://image.tmdb.org/t/p/w500/3GrRgt6CiLIUXU...,6,https://www.youtube.com/watch?v=gardMnJszqc,92,"125,000,000.00",0.00
2,Avatar: The Way of Water,14/12/2022,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,English,https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA6...,7,https://www.youtube.com/watch?v=Sw9hdSjzZjc,130,"350,000,000.00","2,312,335,665.00"
3,Creed III,01/03/2023,"Drama, Action","After dominating the boxing world, Adonis Cree...",English,https://image.tmdb.org/t/p/w500/cvsXj3I9Q2iyyI...,7,https://www.youtube.com/watch?v=qphf_-PPaaI,116,"75,000,000.00","269,000,000.00"
4,65,02/03/2023,"Science Fiction, Adventure, Thriller, Action","65 million years ago, the only 2 survivors of ...",English,https://image.tmdb.org/t/p/w500/rzRb63TldOKdKy...,6,https://www.youtube.com/watch?v=2kgJuEX4yhc,91,"45,000,000.00","55,000,000.00"

In [5]:
# Coi runtimes
df['runtime'].head()

0    103
1     92
2    130
3    116
4     91
Name: runtime, dtype: int64

In [6]:
# Cover runtimes thành giờ phút
# Ví dụ: runtime = 103 phút => 1h 43m
def convert_runtime(runtime):
    if runtime == 0:
        return ''
    else:
        hours = runtime // 60
        minutes = runtime % 60
        return str(hours) + 'h ' + str(minutes) + 'm'

df['runtime'] = df['runtime'].apply(convert_runtime)
df['runtime'].head()

0    1h 43m
1    1h 32m
2    2h 10m
3    1h 56m
4    1h 31m
Name: runtime, dtype: object

In [7]:
df.head()

,title,year,genre,plot,language,poster,rating,trailer,runtime,budget,revenue
0,The Super Mario Bros. Movie,05/04/2023,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...",English,https://image.tmdb.org/t/p/w500/qNBAXBIQlnOThr...,7,https://www.youtube.com/watch?v=LTFGH0rJ-EY,1h 43m,"100,000,000.00","724,289,031.00"
1,Shazam! Fury of the Gods,15/03/2023,"Action, Comedy, Fantasy","Billy Batson and his foster siblings, who tran...",English,https://image.tmdb.org/t/p/w500/3GrRgt6CiLIUXU...,6,https://www.youtube.com/watch?v=gardMnJszqc,1h 32m,"125,000,000.00",0.00
2,Avatar: The Way of Water,14/12/2022,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,English,https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA6...,7,https://www.youtube.com/watch?v=Sw9hdSjzZjc,2h 10m,"350,000,000.00","2,312,335,665.00"
3,Creed III,01/03/2023,"Drama, Action","After dominating the boxing world, Adonis Cree...",English,https://image.tmdb.org/t/p/w500/cvsXj3I9Q2iyyI...,7,https://www.youtube.com/watch?v=qphf_-PPaaI,1h 56m,"75,000,000.00","269,000,000.00"
4,65,02/03/2023,"Science Fiction, Adventure, Thriller, Action","65 million years ago, the only 2 survivors of ...",English,https://image.tmdb.org/t/p/w500/rzRb63TldOKdKy...,6,https://www.youtube.com/watch?v=2kgJuEX4yhc,1h 31m,"45,000,000.00","55,000,000.00"

In [16]:
df.to_csv('film_DONE_MAIN.csv', index=False)

In [17]:
# Đọc file csv
df = pd.read_csv('film_DONE_MAIN.csv', encoding='utf-8')
df.head()

,Title,Year,Genre,Overview,Language,Poster,Rating,trailer,runtime,budget,revenue
0,The Super Mario Bros. Movie,05/04/2023,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...",English,https://image.tmdb.org/t/p/w500/qNBAXBIQlnOThr...,7,https://www.youtube.com/watch?v=LTFGH0rJ-EY,1h 43m,"100,000,000.00","724,289,031.00"
1,Shazam! Fury of the Gods,15/03/2023,"Action, Comedy, Fantasy","Billy Batson and his foster siblings, who tran...",English,https://image.tmdb.org/t/p/w500/3GrRgt6CiLIUXU...,6,https://www.youtube.com/watch?v=gardMnJszqc,1h 32m,"125,000,000.00",0.00
2,Avatar: The Way of Water,14/12/2022,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,English,https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA6...,7,https://www.youtube.com/watch?v=Sw9hdSjzZjc,2h 10m,"350,000,000.00","2,312,335,665.00"
3,Creed III,01/03/2023,"Drama, Action","After dominating the boxing world, Adonis Cree...",English,https://image.tmdb.org/t/p/w500/cvsXj3I9Q2iyyI...,7,https://www.youtube.com/watch?v=qphf_-PPaaI,1h 56m,"75,000,000.00","269,000,000.00"
4,65,02/03/2023,"Science Fiction, Adventure, Thriller, Action","65 million years ago, the only 2 survivors of ...",English,https://image.tmdb.org/t/p/w500/rzRb63TldOKdKy...,6,https://www.youtube.com/watch?v=2kgJuEX4yhc,1h 31m,"45,000,000.00","55,000,000.00"

In [ ]:
# Title	Year	Genre	Overview	Language	Poster	Rating	Trailer	Runtime	Budget	Revenue

In [13]:
# đổi tên column
df = df.rename(columns={'title': 'Title', 'year': 'Year', 'genre': 'Genre', 'plot': 'Overview', 'poster': 'Poster', 'rating': 'Rating', 'trailor': 'Trailer'})
df.head()

,Title,Year,Genre,Overview,language,Poster,Rating,trailer,runtime,budget,revenue
0,The Super Mario Bros. Movie,05/04/2023,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...",English,https://image.tmdb.org/t/p/w500/qNBAXBIQlnOThr...,7,https://www.youtube.com/watch?v=LTFGH0rJ-EY,1h 43m,"100,000,000.00","724,289,031.00"
1,Shazam! Fury of the Gods,15/03/2023,"Action, Comedy, Fantasy","Billy Batson and his foster siblings, who tran...",English,https://image.tmdb.org/t/p/w500/3GrRgt6CiLIUXU...,6,https://www.youtube.com/watch?v=gardMnJszqc,1h 32m,"125,000,000.00",0.00
2,Avatar: The Way of Water,14/12/2022,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,English,https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA6...,7,https://www.youtube.com/watch?v=Sw9hdSjzZjc,2h 10m,"350,000,000.00","2,312,335,665.00"
3,Creed III,01/03/2023,"Drama, Action","After dominating the boxing world, Adonis Cree...",English,https://image.tmdb.org/t/p/w500/cvsXj3I9Q2iyyI...,7,https://www.youtube.com/watch?v=qphf_-PPaaI,1h 56m,"75,000,000.00","269,000,000.00"
4,65,02/03/2023,"Science Fiction, Adventure, Thriller, Action","65 million years ago, the only 2 survivors of ...",English,https://image.tmdb.org/t/p/w500/rzRb63TldOKdKy...,6,https://www.youtube.com/watch?v=2kgJuEX4yhc,1h 31m,"45,000,000.00","55,000,000.00"

In [14]:
df = df.rename(columns={'language': 'Language'})

In [15]:
df.head()

,Title,Year,Genre,Overview,Language,Poster,Rating,trailer,runtime,budget,revenue
0,The Super Mario Bros. Movie,05/04/2023,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...",English,https://image.tmdb.org/t/p/w500/qNBAXBIQlnOThr...,7,https://www.youtube.com/watch?v=LTFGH0rJ-EY,1h 43m,"100,000,000.00","724,289,031.00"
1,Shazam! Fury of the Gods,15/03/2023,"Action, Comedy, Fantasy","Billy Batson and his foster siblings, who tran...",English,https://image.tmdb.org/t/p/w500/3GrRgt6CiLIUXU...,6,https://www.youtube.com/watch?v=gardMnJszqc,1h 32m,"125,000,000.00",0.00
2,Avatar: The Way of Water,14/12/2022,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,English,https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA6...,7,https://www.youtube.com/watch?v=Sw9hdSjzZjc,2h 10m,"350,000,000.00","2,312,335,665.00"
3,Creed III,01/03/2023,"Drama, Action","After dominating the boxing world, Adonis Cree...",English,https://image.tmdb.org/t/p/w500/cvsXj3I9Q2iyyI...,7,https://www.youtube.com/watch?v=qphf_-PPaaI,1h 56m,"75,000,000.00","269,000,000.00"
4,65,02/03/2023,"Science Fiction, Adventure, Thriller, Action","65 million years ago, the only 2 survivors of ...",English,https://image.tmdb.org/t/p/w500/rzRb63TldOKdKy...,6,https://www.youtube.com/watch?v=2kgJuEX4yhc,1h 31m,"45,000,000.00","55,000,000.00"

In [4]:
# Lọc các dữ liệu trùng lặp
df = df.drop_duplicates(subset=['title'])
len(df)

9652

In [6]:
# Lưu dữ liệu vào file csv
df.to_csv('data_done_NEW.csv', index=False)

In [7]:
# Lọc các title có len trên 100 ký tự
df = df[df['title'].str.len() < 100]
len(df)

8654

In [8]:
df.to_csv('data_done_NEW_1.csv', index=False)

`Chuyển đổi kiểu dữ liệu của cột 'year' sang kiểu số nguyên (integer)`

In [7]:
df = df.dropna(subset=['year'])
df = df.replace([np.inf, -np.inf], np.nan)
df = df.dropna(subset=['year'])

df['year'] = df['year'].astype(int)

`Kiểm tra df có giá trị trùng không xóa các dữ liệu trùng đó`

In [4]:
df.duplicated(subset=['title', 'year']).sum()
df = df.drop_duplicates(subset=['title', 'year'], keep='first')
len(df)

8950